/* start global css */
@import "payroll-styles.css";
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}
/* 
a {
  color: inherit;
  text-decoration: none;
} */

.teal {
  color: #399b53 !important;
}

/* end global css */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* ant d overrides */
.my-prefix-base-menu-inline-group-item-title {
  font-weight: bold !important;
  color: #399b53 !important;
  /* color: #dc6601 !important; */
}

/* .ant-pro-form-login-page-logo{
  width: 400px !important;
  height: 100px !important;
} */

.ant-form-item-explain-error {
  font-size: 12px !important;
}

.ant-menu-item-group-list
  .my-prefix-base-menu-inline-item-title-collapsed
  .my-prefix-base-menu-inline-item-icon {
  margin-bottom: auto;
  margin-top: 4px;
}

.ant-badge-count-sm {
  font-size: 10px !important;
}

.ant-pro-page-container-children-container {
  padding-block: 0px !important;
}

.ant-pro-card-tabs .ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-list {
  padding-block-start: 0px !important;
}

.ant-pro-card-tabs .ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-list {
  padding-block-start: 0px;
}

.ant-pro-card-tabs .ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-list {
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.ant-table-thead tr td.ant-table-row-expand-icon-cell {
  background-color: #399b53 !important;
}

.ant-pro-form-login-page-title {
  font-family: "League Spartan", sans-serif;
}

.ant-segmented-item-selected {
  color: #fff !important;
}

/* .ant-btn-primary {
  background-color: #399b53 !important;
} */

th.ant-table-cell {
  /* background: #14213d !important; */
  background: #399b53 !important;
  color: #fff !important;
}

.ant-page-header-wide,
.ant-pro-grid-content-wide {
  max-width: 100% !important;
  margin: 0 !important;
}

.ant-input-number {
  width: 100% !important;
}
/* end ant d overrides */
/* hide header menus */
.my-prefix-top-nav-header-base-menu {
  display: none;
}
/* end hide header menus */

.btn-no-design {
  background: none;
  color: blue;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.notification-badge sup.ant-badge-count-sm {
  transform: translate(70%, -70%) !important;
}
.notification-badge {
  height: fit-content !important;
}

/* select header className */
.select-header {
  width: 100%;

  @media only screen and (min-width: 838px) {
    width: 300px;
  }
}

.select-header-reapplication {
  width: 100%;

  @media only screen and (min-width: 838px) {
    width: 400px;
  }
}

.select-header-list {
  width: 100%;

  @media only screen and (min-width: 838px) {
    width: 400px;
  }
}

.filter-label {
  font-weight: 700;
  font-size: 14px;
}
.display-block {
  display: block;
}
.filter-form.ant-form-vertical .ant-form-item-label {
  padding: 0 0 2px !important;
  font-weight: 700;
}
.ant-form-vertical .ant-form-item-label {
  padding: 0 0 4px !important;
}
/* end: select header className */

.diverse-trade {
  width: 40px;
  height: 30px;
}

.custom-title {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.w-full {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
}

.mb-10 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-2-5 {
  margin-bottom: 10px !important;
}

.mt-2-5 {
  margin-top: 10px !important;
}

.mt-6-5 {
  margin-top: 1.6rem !important;
}

.margin-0 {
  margin: 0 !important;
}

.mt-10 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 20px;
}

.my-5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ml-4 {
  margin-left: 16px;
}

.font-bold {
  font-weight: bold !important;
}

.dev-right {
  display: flex;
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.dev-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.currency-red {
  color: red;
  font-size: 24px;
}

.currency-green {
  color: green;
  font-size: 24px;
}

.currency-orange {
  color: orange;
  font-size: 24px;
}

.currency-blue {
  color: blue;
  font-size: 24px;
}

.currency-black {
  color: black;
  font-size: 24px;
}

.select-option-loading {
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* menu cards */
.menu-container {
  display: grid;
  margin-top: 16px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.menu-item-container {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.menu-item-container div.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: #399b53;
  width: 48px;
  height: 48px;
  background-color: #399b53;
}

.menu-item-title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

.menu-item-description {
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #6b7280;
}

.diverse-trade-icon {
  /* color: #14213d; */
  /* color: #ee9f27; */
  color: white;
  font-size: 24px;
}

.menu-item-left-container {
  margin-left: 16px;
  width: calc(100% - 58px);
}

.custom_calender table tbody tr {
  font-size: 1.2rem !important;
  height: 40px !important;
}
.custom_calender table thead tr {
  font-size: 1.2rem !important;
  height: 40px !important;
}

.custom_calendar_cell:hover {
  background-color: rgb(236, 234, 234) !important;
  color: rgb(39, 39, 39) !important;
}

.ant-upload {
  width: 100% !important;
}

.billing-info-width {
  font-weight: 700;
  width: 300px;
}

.billing-info-value {
  width: calc(100% - 300px);
}

.flex-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.billing-flex-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-icon-custom {
  display: none;

  @media only screen and (min-width: 606px) {
    display: block;
  }
}

.list-margin-left {
  padding-left: 0;

  @media only screen and (min-width: 838px) {
    padding-left: 80px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.fullscreen-modal {
  max-width: 100% !important;
}

.supplier-info-descriptions
  > .ant-descriptions-view
  > table
  > tbody
  > .ant-descriptions-row
  > td {
  padding-bottom: 0px !important;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-green {
  color: green;
}

.text-orange {
  color: orange;
}

.text-gray {
  color: #767676;
}

.virtual-table .ant-table-container:before,
.virtual-table .ant-table-container:after {
  display: none;
}

.dev-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.relative {
  position: relative !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.project-page-header {
  padding-block-start: 8px;
  padding-block-end: 12px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.no-spacing-card > .ant-card-body {
  padding: 0 !important;
}

.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.project-accomplishments-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.ant-image-preview-mask {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

/* responsive here onwards */

@media screen and (max-width: 767px) {
  .project-page-header {
    padding-inline-start: 5px !important;
    padding-inline-end: 5px !important;
  }

  .ant-pro-page-container .ant-pro-page-container-warp-page-header {
    padding-inline-start: 5px !important;
    padding-inline-end: 5px !important;
  }

  .my-prefix-layout .my-prefix-layout-content {
    padding-inline: 5px !important;
  }

  .ant-pro-page-container-children-container {
    padding-inline: 5px !important;
  }
}

@media screen and (max-width: 756px) {
  .billing-info-width {
    font-weight: 700;
    width: 100%;
  }

  .billing-flex-div {
    display: block;
  }

  .billing-info-value {
    width: 100%;
  }
}

.project-progress-list {
  display: none;
}

.project-list-action {
  display: none;
}

.upload-justify-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1285px) {
  .project-list .ant-pro-list-row .ant-pro-list-row-content {
    display: none !important;
  }

  .project-progress-content {
    width: 500px;
  }

  .project-progress-list {
    display: block;
  }
}

@media screen and (max-width: 921px) {
  .project-list .ant-pro-list-row .ant-list-item-action {
    display: none !important;
  }

  .project-progress-content {
    width: 100%;
  }

  .project-list-action {
    margin-top: 10px;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .project-list .ant-pro-list-row .ant-list-item-meta-avatar {
    display: none !important;
  }

  .project-list .ant-pro-card-body {
    padding-inline: 5px !important;
  }

  .upload-justify-between {
    display: block;
    width: 100%;
  }

  .upload-switch-action {
    margin-bottom: 20px;
  }

  .project-upload .ant-upload-select,
  .project-upload .ant-upload-select button {
    width: 100%;
  }
}
