.custom_calender table tbody tr {
  font-size: 1.2rem !important;
  height: 40px !important;
}
.custom_calender table thead tr {
  font-size: 1.2rem !important;
  height: 40px !important;
}

.custom_calendar_cell:hover {
  background-color: rgb(236, 234, 234) !important;
  color: rgb(39, 39, 39) !important;
}
.employee_schedule_table_cell {
  padding: 0px !important;
}

.employee_schedule_table_cell:hover {
  cursor: pointer !important;
}

.events_calendar table tbody tr td div {
  background-color: white !important;
  color: black !important;
  border-color: rgb(233, 233, 233) !important;
}
.events_calendar table tbody tr td div div div div.events_REGULAR {
  background-color: #2db7f5 !important;
}

.events_calendar table tbody tr td div div div div.events_SPECIAL_NON_WORKING {
  background-color: #87d068 !important;
}
.events_calendar table tbody tr td div div div div.events_NON_HOLIDAY {
  background-color: #87d068 !important;
}

.ant-table-body::-webkit-scrollbar {
  display: initial;
  width: 8px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.ant-table-body::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #bdbbbb;
  border-radius: 20px;
}
.ant-table-body::-webkit-scrollbar-track {
  /* Background */
  background: #e6e3e3;
}
