# name: CONSTRUCTION FRONT BETA

# on: 
#   push:
#      branches: [ main ]
# #     paths:
# #       - 'api/**' 
# jobs:
#   build:
#     runs-on: ubuntu-latest 
#     strategy:
#       matrix:
#         node-version: [16.13.0]
#         # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    
#     steps:
#     - uses: actions/checkout@v2
#     # - name: Use Node.js ${{ matrix.node-version }}
#     #   uses: actions/setup-node@v2
#     #   with:
#     #     node-version: ${{ matrix.node-version }}
#     # - name: get-npm-version
#     #   id: package-version
#     #   uses: martinbeentjes/npm-get-version-action@master
#       with:
#         path: backend

#     - name: Login to Docker Hub
#       uses: docker/login-action@v2
#       with:
#         username: ${{ secrets.DOCKER_HUB_USERNAME }}
#         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
#     - name: build jar-file 
#       run: |
#        sudo /opt/gradle/bin/gradle build
#     - name: docker build 
#       run: |
#        docker build -f backend/Dockerfile ./backend -t acemcbmis/private-backend-demo:0.0.1
#     - name: docker push
#       run: |
#         docker push acemcbmis/private-backend-demo:0.0.1

