name: CONSTRUCTION FRONT BETA

on: 
  push:
     branches: [ main ]
jobs:
  build:
    runs-on: self-hosted 
 
    steps:
    - uses: actions/checkout@v2
    - name: Welcome Message
      run:  echo CICD Test Runner
  
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: build jar-file 
      run: |
       sudo /opt/gradle/bin/gradle build
    - name: docker build 
      run: |
       docker build -f backend/Dockerfile ./backend -t acemcbmis/private-backend-demo:0.0.1
    - name: docker push
      run: |
        docker push acemcbmis/private-backend-demo:0.0.1

